<h1>Register</h1>

<form action="/Home/Register" method="post">
    <input type="text" name="username" value="rohit" />
    <input type="password" name="password" value="#Rohit123" />
    <input type="submit" value="Register" />
</form>